.cluster_info_pc_wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: 3px 5px 8px #a9a9aa77;
}
    .header_image_container {
        position: relative;
        width: 30%;
        height: 210px;
    }
        .header_image_wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
            clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%);
        }
            .header_image {
                display: flex;
            }

        .back_btn {
            position: absolute;
            top: 10px;
            left: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            background: linear-gradient(30deg, rgba(40,40,40,0.7), rgba(40,40,40,0.1));
            border-radius: 5px;
            font-size: 25px;
            color: #ffffff;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
            transition: transform 0.5s ease;
        }

    .cluster_info_contents {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 70%;
        padding-bottom: 15px;
    }
        .cluster_name {
            font-size: 23px;
            color: #404040;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 15px 20px 10px 20px;
        }

        .details_container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding-left: 10px;
            padding-right: 25px;
        }
            .creator_details {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;
            }
                .creator_icon_wrapper {
                    position: relative;
                    width: 40px;
                    height: 40px;
                    clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
                    overflow: hidden;
                    background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
                    cursor: pointer;
                    z-index: 2;
                }
                    .creator_icon {
                        background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
                    }

                .creator_name {
                    font-size: 16px;
                    color: #404040;
                }

            .btn_container {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
            }
                .participants {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 15px;
                    color: #404040;
                    gap: 3px;
                }
                    .participants span {
                        font-size: 18px;
                        color: #545454;
                    }

                .bookmark_btn {
                    font-size: 18px;
                    color: #545454;
                }

                .menu_btn {
                    font-size: 19px;
                    color: #404040;
                }
        
        .cluster_explanation {
            font-size: 16px;
            color: #404040;
            margin: 5px 25px 5px 0;
            overflow: auto;
            scrollbar-width: none;
        }
            .cluster_explanation::-webkit-scrollbar {
                display: none;
            }

        .participate_btn {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 40px;
            padding-right: 40px;
            height: 30px;
            background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
            clip-path: polygon(27% 0%, 73% 0%, 100% 50%, 100% 50%, 73% 100%, 27% 100%, 0% 50%, 0% 50%);
            margin: auto 30px 0 auto;
        }
            .participate_btn div {
                position: absolute;
                top: 2.5px;
                bottom: 2.5px;
                left: 6.0px;
                right: 6.0px;
                background: white;
                clip-path: polygon(27% 0%, 73% 0%, 100% 50%, 100% 50%, 73% 100%, 27% 100%, 0% 50%, 0% 50%);
                z-index: 1;
            }

            .participate_btn span {
                font-size: 16px;
                z-index: 2;
            }


.loader_background {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: 3px 5px 8px #a9a9aa77;
}
    .loading_header_image {
        width: 30%;
        height: 210px;
        background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
        clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%);
    }

    .loader {
        width: 36px;
        height: 36px;
        border: 4px solid #909090;
        border-left-color: transparent;
        border-radius: 50%;
        margin: auto auto auto auto;
        animation: spin89345 1s linear infinite;
    }
    @media (max-width: 650px) {
        .loader {
            width: 10.0vw;
            height: 10.0vw;
            border: 1.0vw solid #909090;
            border-left-color: transparent;
            border-radius: 50%;
            margin: 20vw auto 20vw auto;
        }
    }
        @keyframes spin89345 {
            0% {
            transform: rotate(0deg);
            }

            100% {
            transform: rotate(360deg);
            }
        }

    .error_message {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto auto auto auto;
        gap: 16px;
    }
    @media (max-width: 650px) {
        .error_message {
            margin: 20vw auto 20vw auto;
            gap: 1.6vw;
        }
    }
        .error_message p {
            font-size: 17px;
            color: #303030;
        }

        .error_message button {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 40px;
            padding-right: 40px;
            height: 30px;
            background: linear-gradient(30deg,rgba(89,97,223,1),rgba(245,116,185,1));
            clip-path: polygon(27% 0%, 73% 0%, 100% 50%, 100% 50%, 73% 100%, 27% 100%, 0% 50%, 0% 50%);
        }
            .error_message button div {
                position: absolute;
                top: 2.5px;
                bottom: 2.5px;
                left: 6.0px;
                right: 6.0px;
                background: white;
                clip-path: polygon(27% 0%, 73% 0%, 100% 50%, 100% 50%, 73% 100%, 27% 100%, 0% 50%, 0% 50%);
                z-index: 1;
            }

            .error_message button span {
                font-size: 16px;
                z-index: 2;
            }

    .loader_background_border {
        width: 98%;
        height: 1.0px;
        background: #404040;
        margin-left: auto;
        margin-right: auto;
    }
    @media (max-width: 1000px) {
        .loader_background_border {
            height: 0.2vw;
        }
    }
    @media (max-width: 650px) {
        .loader_background_border {
            height: 0.2vw;
        }
    }