.cluster_form_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-height: 90vh;
    background: #ffffff;
    box-shadow: inset 5px 5px 10px #a9a9aa77, inset -5px -5px 10px #ffffff7e;
    border: solid 2px #606060;
    border-radius: 20px;
    overflow: hidden;
    z-index: 12;
}
@media (max-width: 650px) {
    .cluster_form_wrapper {
        width: 90vw;
        border-radius: 4.0vw;
    }
}


.cluster_form_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom, #303030 30%, #606060 60%, #b5b5b5 100%);
    padding-left: 35px;
    padding-right: 35px;
}
@media (max-width: 650px) {
    .cluster_form_header {
        height: 13vw;
        font-size: 5.5vw;
    }
}
    .cluster_form_header span {
        font-size: 22px;
        color: floralwhite;
    }

    .schedule_btn {
        background: radial-gradient(circle at 100% -50%, #ffffff69 45%, #d4d4d44f 60%, #ffffff36 2%);
        border-radius: 5px;
        border: 1px solid #ffffff1c;
        padding: 7px 12px 7px 12px;
        font-size: 15px;
        color: floralwhite;
    }
        .schedule_btn:hover {
            border-color: white;
        }


.cluster_form_contents {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
}
    .image_tytle {
        font-size: 17px;
        color: #404040;
        margin: 10px 20px 0 30px;
    }

    .image_slot_box {
        display: flex;
        min-height: 250px;
        min-width: 200px;
        margin: 10px auto 0 auto;
        box-shadow: -5px -5px 8px #ffffff7a, 5px 5px 8px #a9a9aa7a;
    }
        .image_slot {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 250px;
            min-width: 200px;
        }
        @media (max-width: 650px) {
            .image_slot {
                min-width: 40vw;
                height: 40vw;
                border-radius: 1vw;
            }
        }
            .txt_file_thumbnail {
                display: flex;
                height: 250px;
                width: 200px;
                background: linear-gradient(30deg,rgba(89,97,223,1),rgba(245,116,185,1));
                color: white;
                border-radius: 4px;
            }
                .txt_file_thumbnail p {
                    font-size: 32px;
                    margin: auto;
                }

            .image_preview {
                height: 250px;
                width: auto;   
                max-width: none;
                z-index: 1
            }

            .delete_btn {
                position: absolute;
                top: 5px;
                right: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                color: white;
                font-size: 20px;
                background: rgba(0,0,0,0.7);
                border-radius: 50%;
                border: 1px solid #ffffff1c;
                z-index: 2
            }

            .image_slot_empty {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 200px;
                height: 250px;
                border-radius: 4px;
                background-image: linear-gradient( 210deg, rgba(37,145,251,0.8), rgba(0,7,128,0.8) );
            }
            @media (max-width: 650px) {
                .image_slot_empty {
                    min-width: 40vw;
                    height: 40vw;
                    border-radius: 1vw;
                }
            }
                .upload_btn {
                    display: inline-block;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 54px;
                    height: 54px;
                    color: white;
                    font-size: 34px;
                    background: radial-gradient(circle at 100% -50%, #ffffff69 45%, #d4d4d44f 60%, #ffffff36 2%);
                    border-radius: 8px;
                    border: 1px solid #ffffff1c;
                    cursor: pointer;
                    transition: transform 0.3s ease;
                }
                @media (max-width: 650px) {
                    .upload_btn {
                        width: 14vw;
                        height: 14vw;
                        font-size: 9vw;
                    }
                }
                    .upload_btn:hover {
                        border-color: white;
                        transform: rotate(135deg);
                    }

                .image_slot input{
                    display: none;
                }


    .tag_placeholder {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        min-height: 80px;
        background: #ffffff;
        border-radius: 8px;
        box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #eeeeee;
        margin: 15px 20px 0 20px;
        padding: 10px 15px 10px 15px;
        text-align: left;
        vertical-align: top;
        resize: none;
        font-size: 16px;
        color: #404040;
    }
    @media (max-width: 650px) {
        .tag_placeholder {
            min-height: 40vw;
            border-radius: 1.8vw;
            margin-top: 1.0vw;
            margin-left: 3.6vw;
            margin-right: 3.6vw;
            padding: 1.1vw 3.3vw 1.1vw 3.3vw;
        }
    }
        .tag_placeholder::-webkit-scrollbar {
            width: 12px;
            height: 12px;
        }

        .tag_placeholder::-webkit-scrollbar-thumb {
            background: linear-gradient(to right, rgb(104, 104, 104, 0.6), white, rgb(104, 104, 104, 0.6));
            border-radius: 5px;
            box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
            cursor: grab;
        }

        .tag_placeholder::-webkit-scrollbar-track {
            background-color: white;
        }


    .btn_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin: 15px auto 15px auto;
    }
        .post_btn_true {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 300px;
            height: 40px;
            background-image: linear-gradient( 210deg, rgba(37,145,251,0.8), rgba(0,7,128,0.8) );
            clip-path: polygon(27% 0%, 73% 0%, 100% 50%, 100% 50%, 73% 100%, 27% 100%, 0% 50%, 0% 50%);
        }
            .post_btn_true div {
                position: absolute;
                top: 3.5px;
                bottom: 3.5px;
                left: 8.4px;
                right: 8.4px;
                background: white;
                clip-path: polygon(27% 0%, 73% 0%, 100% 50%, 100% 50%, 73% 100%, 27% 100%, 0% 50%, 0% 50%);
                z-index: 1;
            }
            .post_btn_true span {
                font-size: 18px;
                color: #404040;
                z-index: 2;
            }
