.eyes_form_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-height: 90vh;
    background: #ffffff;
    box-shadow: inset 5px 5px 10px #a9a9aa77, inset -5px -5px 10px #ffffff7e;
    border: solid 2px #606060;
    border-radius: 20px;
    overflow: hidden;
    z-index: 12;
}
@media (max-width: 650px) {
    .eyes_form_wrapper {
        width: 90vw;
        border-radius: 4.0vw;
    }
}


.form_header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom, #303030 30%, #606060 60%, #b5b5b5 100%);
    padding-left: 35px;
    padding-right: 35px;
    z-index: 2
}
@media (max-width: 650px) {
    .form_header {
        height: 13vw;
        font-size: 5.5vw;
    }
}
    .form_header span {
        font-size: 22px;
        color: floralwhite;
    }

    .schedule_btn {
        background: radial-gradient(circle at 100% -50%, #ffffff69 45%, #d4d4d44f 60%, #ffffff36 2%);
        border-radius: 5px;
        border: 1px solid #ffffff1c;
        padding: 7px 12px 7px 12px;
        font-size: 15px;
        color: floralwhite;
    }
        .schedule_btn:hover {
            border-color: white;
        }


.form_contents {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
}
    .image_error_message {
        font-size: 15px;
        color: red;
        margin: 10px 20px 0 auto;
    }

    .image_slot {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 50%;
        box-shadow: -5px -5px 8px #ffffff7a, 5px 5px 8px #a9a9aa7a;
        border-radius: 4px;
        margin: 15px auto 15px auto;
        cursor: pointer;
        font-size: 20px;
    }
        .image_preview {
            display: flex;
            border-radius: 4px;
        }

        .delete_btn {
            position: absolute;
            top: 5px;
            right: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            color: white;
            background: rgba(0,0,0,0.7);
            border-radius: 50%;
            border: 1px solid #ffffff1c;
            z-index: 2
        }

    .image_slot_empty {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;  
        width: 40%;
        aspect-ratio: 4 / 5;
        border-radius: 4px;
        background: linear-gradient(210deg,rgba(89,97,223,0.8),rgba(245,116,185,0.8));
        box-shadow: -5px -5px 8px #ffffff7a, 5px 5px 8px #a9a9aa7a;
        margin: 15px auto 15px auto;
        font-size: 34px;
    }
        .upload_btn {
            display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25%;
            aspect-ratio: 1 / 1;
            color: white;
            background: radial-gradient(circle at 100% -50%, #ffffff69 45%, #d4d4d44f 60%, #ffffff36 2%);
            border-radius: 8px;
            border: 1px solid #ffffff1c;
            cursor: pointer;
            transition: transform 0.3s ease;
        }
            .upload_btn:hover {
                border-color: white;
                transform: rotate(135deg);
            }

        .image_slot_empty input{
            display: none;
        }


    .tag_error_message {
        font-size: 15px;
        color: red;
        margin: 0 20px 5px auto;
    }


    .tag_placeholder {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        min-height: 80px;
        background: #ffffff;
        border-radius: 8px;
        box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #eeeeee;
        margin: 0 20px 0 20px;
        padding: 10px 15px 10px 15px;
        text-align: left;
        vertical-align: top;
        resize: none;
        font-size: 16px;
        color: #404040;
    }
    @media (max-width: 650px) {
        .tag_placeholder {
            min-height: 40vw;
            border-radius: 1.8vw;
            margin-top: 1.0vw;
            margin-left: 3.6vw;
            margin-right: 3.6vw;
            padding: 1.1vw 3.3vw 1.1vw 3.3vw;
        }
    }
        .tag_placeholder::-webkit-scrollbar {
            width: 12px;
            height: 12px;
        }

        .tag_placeholder::-webkit-scrollbar-thumb {
            background: linear-gradient(to right, rgb(104, 104, 104, 0.6), white, rgb(104, 104, 104, 0.6));
            border-radius: 5px;
            box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
            cursor: grab;
        }

        .tag_placeholder::-webkit-scrollbar-track {
            background-color: white;
        }


    .hashtag_wrapper {
        display: flex;
        flex-direction: column;
        margin: 10px 20px 15px 20px;
        gap: 8px;
    }
        .hashtag_tytle_container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
            .hashtag_tytle {
                font-size: 17px;
                color: #404040;
                margin-left: 5px;
            }

            .hashtag_error_message {
                font-size: 15px;
                color: red;
            }

        .hashtag_placeholder_container {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
            .hashtag_placeholder {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: 10px;
                gap: 7px;
            }

            .hashtag_placeholder span {
                font-size: 18px;
                color: #505050;
            }

            .hashtag_placeholder input {
                width: 150px;
                border-radius: 5px;
                box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #eeeeee;
                padding: 6px 10px 6px 10px;
                font-size: 16px;
                color: #404040;
            }

            .hashtag_placeholder button {
                font-size: 20px;
                color: #545454;
            }


    .processing_error_message {
        font-size: 15px;
        color: red;
        margin: 0 auto 5px auto;
    }


    .btn_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin: 0 auto 15px auto;
    }
        .dummy_post_btn {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 300px;
            height: 40px;
            background: #bababa;
            clip-path: polygon(27% 0%, 73% 0%, 100% 50%, 100% 50%, 73% 100%, 27% 100%, 0% 50%, 0% 50%);
        }
            .loader {
                width: 25px;
                height: 25px;
                border: 3px solid #909090;
                border-left-color: transparent;
                border-radius: 50%;
                margin: auto;
                animation: spin89345 1s linear infinite;
            }
            @keyframes spin89345 {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }

        .post_btn {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 300px;
            height: 40px;
            background: linear-gradient(30deg,rgba(89,97,223,1),rgba(245,116,185,1));
            clip-path: polygon(27% 0%, 73% 0%, 100% 50%, 100% 50%, 73% 100%, 27% 100%, 0% 50%, 0% 50%);
        }
            .post_btn div {
                position: absolute;
                top: 3.5px;
                bottom: 3.5px;
                left: 8.4px;
                right: 8.4px;
                background: white;
                clip-path: polygon(27% 0%, 73% 0%, 100% 50%, 100% 50%, 73% 100%, 27% 100%, 0% 50%, 0% 50%);
                z-index: 1;
            }
            .post_btn span {
                font-size: 18px;
                color: #404040;
                z-index: 2;
            }

        .menu_btn {
            width: 35px;
            height: 35px;
            background: #fafafa;
            border: 1px solid #e8e8e8;
            box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
            border-radius: 50%;
            font-size: 18px;
            color: #454545;
        }
