.eyes_request_contents_wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
    .direct_request_header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;
        height: 42px;
        border: 1px solid #404040;
        border-radius: 30px 30px 0 0;
        box-shadow: 0px -1px 7px 0 rgb(0, 0, 0, 0.2);
    }
        .direct_request_header_icon_image {
            position: absolute;
            left: 25px;
            top: 100%;
            transform: translateY(-50%);
            height: 55px;
            width: 55px;
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
        }

        .direct_request_header_account_name {
            font-size: 18px;
            margin-left: 80px;
        }

        .request_time {
            font-size: 16px;
            letter-spacing: 1px;
            color: #404040;
            margin-right: 30px;
        }


    .group_request_header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;
        height: 42px;
        border: 1px solid #404040;
        border-radius: 30px 30px 0 0;
        box-shadow: 0px -1px 7px 0 rgb(0, 0, 0, 0.2);
    }
        .group_request_header_icon_image {
            position: absolute;
            left: 25px;
            top: 100%;
            transform: translateY(-50%);
            height: 45px;
            width: 45px;
            border-radius: 50%;
            background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
        }

        .group_request_header_account_name {
            font-size: 18px;
            margin-left: 85px;
        }

        .request_time {
            font-size: 16px;
            letter-spacing: 1px;
            color: #404040;
            margin-right: 30px;
        }


    .direct_request_center {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        overflow: auto;
        border-left: 1px solid #404040;
        border-right: 1px solid #404040;
        padding: 35px 25px 25px 25px;
    }
        .first_message_text {
            display: flex;
            max-width: 60%;
            padding: 6px 12.5px 6px 12.5px;
            border-radius: 10px;
            background-image: linear-gradient(90deg, rgba(191,224,251,0.5) 0%, rgba(232,233,251,1) 25.8%, rgba(252,239,250,1) 50.8%, rgba(234,251,251,1) 100%);
            font-size: 15px;
        }


    .group_request_center {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        overflow: auto;
        border-left: 1px solid #404040;
        border-right: 1px solid #404040;
        padding: 35px 25px 25px 25px;
    }
        .group_request_information {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            width: 100%;
            height: 110px;
            background: #ffffff;
            border-radius: 10px;
            box-shadow: 2px 1px 7px 0 rgb(0, 0, 0, 0.4);
            overflow: hidden;
        }
            .group_request_icon_image {
                height: 80px;
                width: 80px;
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
                margin-left: 32px;
                z-index: 3;
            }

            .group_request_information_line {
                position: absolute;
                top: 0;
                left: 75px;
                width: 3px;
                height: 200%;
                transform: translate(-50%, -25%) rotate(45deg);
                background: linear-gradient(300deg,rgba(89,97,223,1),rgba(245,116,185,1));
                z-index: 2;
            }

            .group_request_group_name {
                margin-left: 15px;
                font-size: 24px;
            }

            .group_request_member_btn {
                padding: 5px 10px 5px 10px;
                background: #ffffff;
                border-radius: 10px;
                cursor: pointer;
                border: 1px solid #e8e8e8;
                transition: all 0.3s;
                box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
                font-size: 16px;
                color: #454545;
                letter-spacing: 1px;
                margin-left: 30px;
            }
                .group_request_member_btn:active {
                    color: #666;
                    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
                }

            .group_request_information span {
                position: absolute; 
                top: 0;
                left: auto;
                right: 0;
                padding: 3px 20px 3px 20px;
                background-image: linear-gradient(90deg, rgba(191,224,251,0.5) 0%, rgba(232,233,251,1) 25.8%, rgba(252,239,250,1) 50.8%, rgba(234,251,251,1) 100%);
                font-size: 16px;
                color: #454545;
                border-radius: 0 0 0 10px;
            }


    .direct_request_footer {
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: center;
        width: 100%;
        padding: 15px 15px 15px 15px;
        border-left: 1px solid #404040;
        border-right: 1px solid #404040;
        border-top: 1px solid #999999;
        border-bottom: 1px solid #404040;
    }
        .direct_request_accept_btn {
            position: relative;
            width: 48%;
            height: 40px;
            background: linear-gradient(30deg,rgba(89,97,223,1),rgba(245,116,185,1));
            clip-path: polygon(35.5% 0%, 100% 0%, 100% 100%, 100% 100%, 64.5% 100%, 35.5% 100%, 0% 50%, 0% 50%);
            margin-right: 1%;
        }
            .direct_request_accept_btn div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 5px;
                position: absolute;
                top: 3.5px;
                bottom: 3.5px;
                left: 10.0px;
                right: 3.5px;
                clip-path: polygon(35.5% 0%, 100% 0%, 100% 100%, 100% 100%, 64.5% 100%, 35.5% 100%, 0% 50%, 0% 50%);
                background: white;
                z-index: 1;
            }
                .direct_request_accept_btn div p {
                    font-size: 22px;
                    color: #454545;
                    margin-left: 10%;
                }

                .direct_request_accept_btn div span {
                    font-size: 18px;
                    letter-spacing: 2px;
                }

        .direct_request_reject_btn {
            position: relative;
            width: 48%;
            height: 40px;
            background: #545454;
            clip-path: polygon(64.5% 0%, 0% 0%, 0% 100%, 0% 100%, 35.5% 100%, 64.5% 100%, 100% 50%, 100% 50%);
        }
            .direct_request_reject_btn div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 5px;
                position: absolute;
                top: 3.5px;
                bottom: 3.5px;
                left: 3.5px;
                right: 10px;
                clip-path: polygon(64.5% 0%, 0% 0%, 0% 100%, 0% 100%, 35.5% 100%, 64.5% 100%, 100% 50%, 100% 50%);
                background: white;
                z-index: 1;
            }
                .direct_request_reject_btn div p {
                    font-size: 22px;
                    color: #454545;
                }

                .direct_request_reject_btn div span {
                    font-size: 18px;
                    letter-spacing: 2px;
                    margin-right: 10%;
                }


    .group_request_footer {
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: center;
        width: 100%;
        padding: 15px 15px 15px 15px;
        border-left: 1px solid #404040;
        border-right: 1px solid #404040;
        border-top: 1px solid #999999;
        border-bottom: 1px solid #404040;
    }
        .group_request_accept_btn {
            position: relative;
            width: 48%;
            height: 40px;
            background: linear-gradient(30deg,rgba(89,97,223,1),rgba(245,116,185,1));
            clip-path: polygon(35.5% 0%, 100% 0%, 100% 100%, 100% 100%, 64.5% 100%, 35.5% 100%, 0% 50%, 0% 50%);
            margin-right: 1%;
        }
            .group_request_accept_btn div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 5px;
                position: absolute;
                top: 3.5px;
                bottom: 3.5px;
                left: 10.0px;
                right: 3.5px;
                clip-path: polygon(35.5% 0%, 100% 0%, 100% 100%, 100% 100%, 64.5% 100%, 35.5% 100%, 0% 50%, 0% 50%);
                background: white;
                z-index: 1;
            }
                .group_request_accept_btn div p {
                    font-size: 22px;
                    color: #454545;
                    margin-left: 10%;
                }

                .group_request_accept_btn div span {
                    font-size: 18px;
                    letter-spacing: 2px;
                }

        .group_request_reject_btn {
            position: relative;
            width: 48%;
            height: 40px;
            background: #545454;
            clip-path: polygon(64.5% 0%, 0% 0%, 0% 100%, 0% 100%, 35.5% 100%, 64.5% 100%, 100% 50%, 100% 50%);
        }
            .group_request_reject_btn div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 5px;
                position: absolute;
                top: 3.5px;
                bottom: 3.5px;
                left: 3.5px;
                right: 10px;
                clip-path: polygon(64.5% 0%, 0% 0%, 0% 100%, 0% 100%, 35.5% 100%, 64.5% 100%, 100% 50%, 100% 50%);
                background: white;
                z-index: 1;
            }
                .group_request_reject_btn div p {
                    font-size: 22px;
                    color: #454545;
                }

                .group_request_reject_btn div span {
                    font-size: 18px;
                    letter-spacing: 2px;
                    margin-right: 10%;
                }