.eyes_public_address_list_wrapper {
    display: flex;
    flex-direction: column;
    width: 25%;
    box-shadow: inset -4px 2px 10px #a9a9aa77;
    overflow: hidden;
}   
    .menu_container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
        .search_placeholder_container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            width: 80%;
            border-radius: 25px;
            box-shadow: 2px 1px 7px 0 rgb(0, 0, 0, 0.4);
            background: #ffffff;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }
            .search_placeholder {
                font-size: 15px;
                width: 100%;
                color: dimgray;
                margin-left: 15px;
                margin-top: 7px;
                margin-bottom: 7px;
            }

            .search_btn {
                font-size: 17px;
                color: #454545;
                margin-left: auto;
                margin-right: 15px;
            }

        .make_request_btn {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 99%;
            height: 42px;
            background-image: linear-gradient(90deg, rgba(191,224,251,0.5) 0%, rgba(232,233,251,1) 25.8%, rgba(252,239,250,1) 50.8%, rgba(234,251,251,1) 100%);
            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
            border: 1px solid #c7c7c7;
            border-radius: 5px;
            gap: 25px;
        }
            .make_request_btn span {
                font-size: 21px;
                color: #404040;
                margin-left: 25px;
            }

            .make_request_btn div {
                font-size: 17px;
            }

    .eyes_public_address_list_wrapper p {
        font-size: 19px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-left: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .address_list_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: auto;
    }
        .direct_address_card {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: 48px;
        }
            .account_icon_image {
                height: 42px;
                width: 42px;
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
                margin-left: 12px;
            }

            .account_name {
                flex-grow: 1;
                font-size: 16px;
                margin-left: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .direct_address_card button {
                font-size: 19px;
                color: #757575;
                margin-left: 10px;
                margin-right: 20px;
            }


        .group_address_card {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: 48px;
        }
            .group_icon_image {
                height: 36px;
                width: 36px;
                border-radius: 50%;
                background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
                margin-left: 14px;
            }

            .group_name {
                flex-grow: 1;
                font-size: 16px;
                margin-left: 7px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .group_address_card button {
                font-size: 19px;
                color: #757575;
                margin-left: 10px;
                margin-right: 20px;
            }
