.eyes_card_background {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    background: white;
    border-radius: 15px;
    box-shadow: 3px 6px 12px #c5c5c5, -3px -6px 12px #ffffff;
    overflow: hidden;
    margin-bottom: 10px;
    z-index: 1;
}


    .eyes_background_upper {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        width: 100%;
        height: 38px;
        border-radius: 15px 15px 0 0;
        border-top: 1px solid #787878;
        border-left: 1px solid #787878;
        border-right: 1px solid #787878;
    }
        .eyes_background_upper::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            background: linear-gradient(300deg,rgba(89,97,223,1),rgba(245,116,185,1));
            box-shadow: 0 3px 10px #c5c5c5;
        }

        .account_icon_wrapper {
            position: relative;
            width: 51px;
            height: 51px;
            clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
            overflow: hidden;
            background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
            cursor: pointer;
            margin-top: 34px;
            margin-left: 12px;
            z-index: 2;
        }
            .account_icon {
                background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
            }

        .account_name {
            font-size: 17px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: 3px;
            margin-right: 50px;
        }

        .created_at {
            font-size: 14px;
            color: #545454;
            letter-spacing: 1px;
            margin-left: auto;
            margin-right: 4.0%;
        }

    .eyes_tag_border {
        position: absolute;
        top: 55px;
        left: auto;
        right: 0;
        display: flex;
        max-width: 85%;
        height: 34px;
        padding: 2px 0 2px 3.5px;
        background: linear-gradient(160deg,rgba(89,97,223,1),rgba(245,116,185,1));
        clip-path: polygon(36px 0%, 100% 0%, 100% 100%, 0% 100%);
        z-index: 3;
    }
        .eyes_tag {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 28px;
            padding-right: 10px;
            background: #ffffff;
            clip-path: polygon(34px 0%, 100% 0%, 100% 100%, 0% 100%);
            white-space: nowrap; 
            overflow: hidden;
        }
            .eyes_tag_text {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                font-size: 15px;
                color: #303030;
            }
                .scrolling {
                    animation: scroll var(--scroll-speed, 15s) linear infinite; 
                }
                @keyframes scroll {
                    0% {
                        transform: translateX(0%);
                    }

                    25% {
                        transform: translateX(0%);
                    }

                    100% {
                        transform: translateX(var(--scroll-width));
                    }
                }

                .eyes_tag span {
                    font-size: 18px;
                    color: #757575;
                }

    .eyes_image_wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
        cursor: pointer;
        margin-top: 3px;
        z-index: 1;
    }
        .eyes_image {
            display: flex;
        }

    .friends_post_prev_btn {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 10%;
        height: 50%;
        clip-path: polygon(0% 0%, 100% 50%, 100% 50%, 0% 100%);
        background: linear-gradient(70deg,rgba(40,40,40,0.9) 0%,rgba(40,40,40,0.4) 80%);
        z-index: 2;
    }
        .friends_prev_account_icon_wrapper {
            position: relative;
            top: 0;
            left: 0;
            transform: translateX(-20%);
            width: 51px;
            height: 51px;
            overflow: hidden;
            clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
            background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
            cursor: pointer;
            opacity: 1.0;
            z-index: 2;
        }
            .friends_prev_account_icon {
                background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
            }

    .friends_post_next_btn {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 10%;
        height: 50%;
        clip-path: polygon(0% 50%, 100% 0%, 100% 100%, 0% 50%);
        background: linear-gradient(250deg,rgba(40,40,40,0.9) 0%,rgba(40,40,40,0.4) 80%);
        z-index: 2;
    }
        .friends_next_account_icon_wrapper {
            position: relative;
            top: 0;
            right: 0;
            transform: translateX(20%);
            width: 51px;
            height: 51px;
            overflow: hidden;
            clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
            background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
            cursor: pointer;
            opacity: 1.0;
            z-index: 2;
        }
            .friends_next_account_icon {
                background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
            }

    .eyes_background_lower {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 34px;
        z-index: 3;
    }
        .eyes_background_lower::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 1px;
            background: #787878;
            border-radius: 2px;
        }

        .hashtag_container {
            position: absolute;
            bottom: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: 35px;
            background-image: linear-gradient(to top, rgba(256,256,256,0.7) 30%, rgba(256,256,256,0.5) 60%, rgba(256,256,256,0) 100%);
        }
            .hashtag {
                font-size: 16px;
                color: #545454;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-top: 5px;
                margin-left: 20px;
                margin-right: 20px;
            }

        .eyes_view_count {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            margin-left: 4.5%;
            margin-right: auto;
        }
            .eyes_view_count p {
                font-size: 18px;
                color: #686a68;
            }

            .eyes_view_count span {
                font-size: 14px;
                color: #686a68;
            }

        .eyes_btn_container {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
            gap: 11px;
            padding: 0 4.0% 0 15px;
            margin-left: auto;
        }
            .menu_btn {
                font-size: 18px;
                color: #686a68;
            }

            .bookmark_btn {
                font-size: 17px;
                color: #686a68;
            }

            .good_btn {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 3px;
            }
                .good_btn p {
                    font-size: 19px;
                    color: hotpink;
                }

                .good_btn span {
                    font-size: 14px;
                    color: #686a68;
                }