.eyes_talk_contents_header_wrapper_group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 42px;
    border: 1px solid #404040;
    border-radius: 30px 30px 0 0;
    box-shadow: 0px -1px 7px 0 rgb(0, 0, 0, 0.2);
}
    .talk_icon_wrapper {
        position: absolute;
        left: 25px;
        top: 13px;
        height: 55px;
        width: 55px;
        clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
        overflow: hidden;
        background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
        cursor: pointer;
        z-index: 3;
    }
        .talk_icon {
            background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
        }

    .talk_name {
        font-size: 18px;
        color: #151515;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 82px;
        margin-right: 50px;
    }

    .group_setting_btn {
        font-size: 22px;
        color: #808080;
        margin-right: 30px;
    }


.eyes_talk_contents_header_wrapper_direct {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 42px;
    border: 1px solid #404040;
    border-radius: 30px 30px 0 0;
    box-shadow: 0px -1px 7px 0 rgb(0, 0, 0, 0.2);
}

    .direct_setting_btn {
        font-size: 22px;
        color: #404040;
        margin-right: 30px;
    }



.loader_background {
    width: 100%;
    height: 42px;
    border: 1px solid #404040;
    border-radius: 30px 30px 0 0;
    box-shadow: 0px -1px 7px 0 rgb(0, 0, 0, 0.2);
}



.error_background {
    width: 100%;
    height: 42px;
    border: 1px solid #404040;
    border-radius: 30px 30px 0 0;
    box-shadow: 0px -1px 7px 0 rgb(0, 0, 0, 0.2);
}


    