.eyes_my_message_card_wrapper {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: end;
    width: 100%;
    padding-top: 15px;
    padding-right: 15px;
}
    .message_rightside {
        display: flex;
        flex-direction: row;
        align-items: end;
        max-width: 70%;
    }
        .message_status {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 13px;
            color: #757575;
            margin-top: auto;
            margin-bottom: 0;
        }

        .message_center_column {
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 5px;
            margin-left: 6px;
            margin-right: 8px;
        }
            .message_text_container {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 5px;
                padding: 7px 14px 7px 14px;
                border-radius: 10px;
                background-image: linear-gradient(90deg, rgba(191,224,251,0.5) 0%, rgba(232,233,251,1) 25.8%, rgba(252,239,250,1) 50.8%, rgba(234,251,251,1) 100%);
            }
                .quote_message_container {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    background: #fafafa;
                    border-radius: 6px;
                    box-shadow: 2px 1px 7px 0 rgb(0, 0, 0, 0.3);
                    padding: 6px 12px 6px 12px;
                }
                    .quote_message_sender {
                        font-size: 13px;
                        color: #545454;
                        margin-bottom: 5px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .quote_message_text {
                        font-size: 14px;
                        color: #151515;
                        margin-bottom: 3px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .quote_message_container span {
                        color: #454545;
                        font-size: 14px;
                        margin-left: 5px;
                    }

                .message_text {             
                    font-size: 15px;
                    line-height: 1.3;
                }

                .message_image_layout1 {
                    width: 280px;
                }
                    .message_image_layout1 .message_image_wrapper {
                        width: 100%;
                        position: relative;
                        background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
                        cursor: pointer;
                    }

                .message_image_layout2 {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 400px;
                    height: 300px;
                }
                    .message_image_layout2 .message_image_wrapper {
                        position: relative;
                        width: calc(50% - 2px);
                        height: 100%;
                        overflow: hidden;
                        background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
                        cursor: pointer;
                    }

                .message_image_layout3 {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 400px;
                    height: 300px;
                }
                    .message_image_layout3 .message_image_section1 {
                        width: calc(50% - 2px);
                        height: 100%;
                    }
                        .message_image_layout3 .message_image_section1 .message_image_wrapper {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
                            cursor: pointer;
                        }

                    .message_image_layout3 .message_image_section2 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        width: calc(50% - 2px);
                        height: 100%;
                    }
                        .message_image_layout3 .message_image_section2 .message_image_wrapper {
                            position: relative;
                            width: 100%;
                            height: calc(50% - 2px);
                            background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
                            cursor: pointer;
                        }

                .message_image_layout4 {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 400px;
                    height: 300px;
                }
                    .message_image_layout4 .message_image_section1 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        width: calc(50% - 2px);
                        height: 100%;
                    }
                        .message_image_layout4 .message_image_section1 .message_image_wrapper {
                            position: relative;
                            width: 100%;
                            height: calc(50% - 2px);
                            background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
                            cursor: pointer;
                        }

                    .message_image_layout4 .message_image_section2 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        width: calc(50% - 2px);
                        height: 100%;
                    }
                        .message_image_layout4 .message_image_section2 .message_image_wrapper {
                            position: relative;
                            width: 100%;
                            height: calc(50% - 2px);
                            background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
                            cursor: pointer;
                        }

