.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

    .background_animation {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;        
        transform: perspective(50vh) rotateX(55deg);
        overflow: hidden;
        z-index: 0;
    }
        .street {
            width: 100%;
            height: 100%;
            background-color: #fffcfa;
            display: flex;
            justify-content: center;
            align-items: center;
            mask-image: radial-gradient( circle, rgba(0, 0, 0, 1) 65%, rgba(0, 0, 0, 0) 100% );
        }
            .row_lines {
                width: 100%;
                height: 100%;
                background: repeating-linear-gradient( #808080 0px, #808080 1.0px, transparent 1.0px, transparent 7.0vh );
                animation: moveLines 3.5s linear infinite;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
            }
            @keyframes moveLines {
                0% {
                    background-position: 0 0;
                }

                100% {
                    background-position: 0 35vh;
                }
            }
                .row_lines span {
                    width: 1px;
                    height: 100%;
                    background-image: linear-gradient( 150deg, rgba(37,145,251,0.8), rgba(0,7,128,0.8) );
                }
