.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

    .layout h1 {
        font-size: 30px;
        color: #404040;
        margin-top: 40px;
    }

    .layout p {
        font-size: 17px;
        color: #404040;
        margin-top: 25px;
    }

    .btn_container {
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin-top: 10px;
    }
        .eyes_home_btn {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 40px;
            padding-right: 40px;
            height: 30px;
            background: linear-gradient(30deg,rgba(89,97,223,1),rgba(245,116,185,1));
            clip-path: polygon(27% 0%, 73% 0%, 100% 50%, 100% 50%, 73% 100%, 27% 100%, 0% 50%, 0% 50%);
        }
            .eyes_home_btn div {
                position: absolute;
                top: 2.5px;
                bottom: 2.5px;
                left: 6.0px;
                right: 6.0px;
                background: white;
                clip-path: polygon(27% 0%, 73% 0%, 100% 50%, 100% 50%, 73% 100%, 27% 100%, 0% 50%, 0% 50%);
                z-index: 1;
            }

            .eyes_home_btn span {
                font-size: 17px;
                color: #404040;
                z-index: 2;
            }

        .voices_home_btn {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 40px;
            padding-right: 40px;
            height: 30px;
            background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
            clip-path: polygon(27% 0%, 73% 0%, 100% 50%, 100% 50%, 73% 100%, 27% 100%, 0% 50%, 0% 50%);
        }
            .voices_home_btn div {
                position: absolute;
                top: 2.5px;
                bottom: 2.5px;
                left: 6.0px;
                right: 6.0px;
                background: white;
                clip-path: polygon(27% 0%, 73% 0%, 100% 50%, 100% 50%, 73% 100%, 27% 100%, 0% 50%, 0% 50%);
                z-index: 1;
            }

            .voices_home_btn span {
                font-size: 17px;
                color: #404040;
                z-index: 2;
            }




.canvas {
    position: relative;
    width: 600px;
    height: 240px;
    border: 3px solid #808080;
    box-shadow: 3px 3px 10px #dadada;
    margin-top: 100px;
}
    .pink_frame {
        position: absolute;
        display: flex;
        background: linear-gradient(200deg,rgba(89,97,223,1),rgba(245,116,185,1));
        transform: translate(-100%, -50%);
        top: 50%;
        left: 50%;
        width: 290px;
        height: 222px;
        z-index: 1;
    }

    .blue_frame {
        position: absolute;
        display: flex;
        background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
        transform: translate(0%, -50%);
        top: 50%;
        left: 50%;
        width: 290px;
        height: 222px;
        z-index: 1;
    }

    .inner {
        position: relative;
        transform: translate(-50%, -50%);
        width: 574px;
        height: 216px;
        top: 50%;
        left: 50%;
        background: #ffffff;
        z-index: 2;
    }
        .eyes_tytle {
            position: absolute;
            top: 10px;
            left: 100px;
            right: auto;
            font-size: 30px;
            font-weight: 300;
            letter-spacing: 1px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        }

        .eyes_explanation {
            position: absolute;
            top: 58px;
            left: 16px;
            right: auto;
            font-size: 15px;
            font-weight: 400;
        }

        .bar {
            position: absolute;
            top: 150px;
            left: 22px;
            right: auto;
            width: 3px;
            height: 80px;
            background: linear-gradient(200deg,rgba(89,97,223,1),rgba(245,116,185,1));
            transform: translate(-50%, -50%);
            border-radius: 5px;
        }

        .eyes_characteristics {
            position: absolute;
            top: 114px;
            left: 30px;
            right: auto;
            font-size: 15px;
            font-weight: 400;
        }
            .eyes_characteristics span {
                font-size: 13px;
                color: #404040;
            }

        .voices_tytle {
            position: absolute;
            top: 10px;
            left: auto;
            right: 100px;
            font-size: 30px;
            font-weight: 300;
            letter-spacing: 1px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        }

        .voices_explanation {
            position: absolute;
            top: 58px;
            left: 315px;
            right: auto;
            font-size: 15px;
            font-weight: 400;
        }

    .zeta_division {
        position: absolute;
        width: 10px;
        height: 320px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(to right, rgb(104, 104, 104, 0.6), white, rgb(104, 104, 104, 0.6));
        box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
        border: 1px solid #404040;
        border-radius: 5px;
        z-index: 3;
    }

    .cluster_frame {
        position: absolute;
        top: 54%;
        left: 63%;
        width: 200px;
        height: 90px;
        transform: translate(-50%. -50%);
        border: 2px solid #404040;
        box-shadow: 2px 2px 8px #dadada;
        z-index: 4;
    }
        .cluster_tytle {
            position: absolute;
            top: 5px;
            left: 15px;
            right: auto;
            font-size: 22px;
            font-weight: 300;
            letter-spacing: 1px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        }

        .cluster_frame span {
            position: absolute;
            top: 42px;
            left: 14px;
            right: auto;
            font-size: 14px;
            font-weight: 400;
            color: #404040;
        }