.signup_form_d_wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 600px;
    background: #ffffff;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border: 1px solid #909090;
    border-radius: 15px;
    padding: 20px 30px 20px 30px;
    margin-top: 10vh;
    z-index: 1;
}
@media (max-width: 650px) {
    .signup_form_d_wrapper {
        width: 92vw;
        padding: 2.4vw 3.6vw 2.4vw 3.6vw;
        margin-top: 18.0vw;
        margin-bottom: 20.0vw;
    }
}


    .tytle_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 27px;
        color: #404040;
        gap: 10px;
        margin-left: 15px;
    }
    @media (max-width: 650px) {
        .tytle_container {
            font-size: 5.5vw;
            gap: 2.0vw;
            margin-left: 3.0vw;
        }
    }
        .tytle_point {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            animation: rotate_3922 1.2s linear infinite;
            background-color: #9b59b6;
            background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
        }
        @media (max-width: 650px) {
            .tytle_point {
                width: 7.3vw;
                height: 7.3vw;
                box-shadow: 0 1.08vw 1.8vw rgba(0, 0, 0, 0.3), 0 0.72vw 0.72vw rgba(0, 0, 0, 0.22);
            }
        }
            .tytle_point span {
                position: absolute;
                border-radius: 50%;
                height: 100%;
                width: 100%;
                background-image: radial-gradient( circle farthest-corner at 14.2% 27.5%,  rgba(104,199,255,1) 0%, rgba(181,126,255,1) 90% );
            }
            .tytle_point span:nth-of-type(1) {
              filter: blur(5px);
            }
            @media (max-width: 650px) {
                .tytle_point span:nth-of-type(1) {
                    filter: blur(0.87vw);
                }
            }
            .tytle_point span:nth-of-type(2) {
              filter: blur(10px);
            }
            @media (max-width: 650px) {
                .tytle_point span:nth-of-type(2) {
                    filter: blur(1.74vw);
                }
            }
            .tytle_point span:nth-of-type(3) {
              filter: blur(25px);
            }
            @media (max-width: 650px) {
                .tytle_point span:nth-of-type(3) {
                    filter: blur(4.4vw);
                }
            }
            .tytle_point span:nth-of-type(4) {
              filter: blur(50px);
            }
            @media (max-width: 650px) {
                .tytle_point span:nth-of-type(4) {
                    filter: blur(8.7vw);
                }
            }
            .tytle_point::after {
              content: "";
              position: absolute;
              top: 5px;
              left: 5px;
              right: 5px;
              bottom: 5px;
              background-color: #fff;
              border: solid 5px #ffffff;
              border-radius: 50%;
            }
            @media (max-width: 650px) {
                .tytle_point::after {
                    top: 0.87vw;
                    left: 0.87vw;
                    right: 0.87vw;
                    bottom: 0.87vw;
                    border: solid 0.87vw #ffffff;
                }
            }

    .form_notes {
        font-size: 16px;
        color: #404040;
        margin-top: 7px;
        margin-left: 7px;
        margin-right: 7px;
    }
    @media (max-width: 650px) {
        .form_notes {
            font-size: 3.1vw;
            margin-top: 1.0vw;
        }
    }

    .eyes_tytle {
        font-size: 25px;
        color: #404040;
        margin-top: 7px;
        margin-left: 7px;
        margin-right: 7px;
    }

    .eyes_name_tytle_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 7px;
        margin-left: 5px;
        margin-right: 5px;
    }
    @media (max-width: 650px) {
        .eyes_name_tytle_container {
            margin-top: 1.0vw;
            margin-left: 1.0vw;
            margin-right: 1.0vw;
        }
    }
        .eyes_name_tytle {
            font-size: 17px;
            color: #404040;
        }
        @media (max-width: 650px) {
            .eyes_name_tytle {
                font-size: 3.8vw;
            }
        }

        .eyes_name_error_message {
            font-size: 14px;
            color: red;
            margin-left: auto;
            margin-right: 0;
        }
        @media (max-width: 650px) {
            .eyes_name_error_message {
                font-size: 3.1vw;
            }
        }

    .eyes_name_placeholder_container {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        background: #ffffff;
        border-radius: 8px;
        box-shadow: -5px -5px 8px #ffffff7a, 5px 5px 8px #a9a9aa7a;
        margin-top: 4px;
        padding: 5px 15px 5px 15px;
    }
    @media (max-width: 650px) {
        .eyes_name_placeholder_container {
            border-radius: 1.8vw;
            margin-top: 1.0vw;
            padding: 1.1vw 3.3vw 1.1vw 3.3vw;
        }
    }
        .eyes_name_placeholder_container span {
            font-size: 20px;
            color: #505050;
            margin-right: 22px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        @media (max-width: 650px) {
            .eyes_name_placeholder_container span {
                font-size: 4.5vw;
                margin-right: 4.5vw;
                margin-top: 1.0vw;
                margin-bottom: 1.0vw;
            }
        }

        .eyes_name_placeholder {
            font-size: 17.0px;
            color: #404040;
            width: 460px;
        }
        @media (max-width: 650px) {
            .eyes_name_placeholder {
                font-size: 3.8vw;
                width: 65vw;
            }
        }

    .eyes_id_tytle_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 7px;
        margin-left: 5px;
        margin-right: 5px;
    }
    @media (max-width: 650px) {
        .eyes_id_tytle_container {
            margin-top: 1.0vw;
            margin-left: 1.0vw;
            margin-right: 1.0vw;
        }
    }
        .eyes_id_tytle {
            font-size: 17px;
            color: #404040;
        }
        @media (max-width: 650px) {
            .eyes_id_tytle {
                font-size: 3.8vw;
            }
        }

        .eyes_id_error_message {
            font-size: 14px;
            color: red;
            margin-left: auto;
            margin-right: 0;
        }
        @media (max-width: 650px) {
            .eyes_id_error_message {
                font-size: 3.1vw;
            }
        }

    .eyes_id_placeholder_container {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        background: #ffffff;
        border-radius: 8px;
        box-shadow: -5px -5px 8px #ffffff7a, 5px 5px 8px #a9a9aa7a;
        margin-top: 4px;
        padding: 5px 15px 5px 15px;
    }
    @media (max-width: 650px) {
        .eyes_id_placeholder_container {
            border-radius: 1.8vw;
            margin-top: 1.0vw;
            padding: 1.1vw 3.3vw 1.1vw 3.3vw;
        }
    }
        .eyes_id_placeholder_container span {
            font-size: 20px;
            color: #505050;
            margin-right: 22px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        @media (max-width: 650px) {
            .eyes_id_placeholder_container span {
                font-size: 4.5vw;
                margin-right: 4.5vw;
                margin-top: 1.0vw;
                margin-bottom: 1.0vw;
            }
        }

        .eyes_id_placeholder {
            font-size: 17.0px;
            color: #404040;
            width: 460px;
        }
        @media (max-width: 650px) {
            .eyes_id_placeholder {
                font-size: 3.8vw;
                width: 65vw;
            }
        }

    .dividing_line {
        margin-top: 12px;
        height: 1.5px;
        background-color: #9c9c9c;
    }
    @media (max-width: 650px) {
        .dividing_line {
            margin-top: 2.5vw;
            height: 0.4vw;
        }
    }

    .voices_tytle {
        font-size: 25px;
        color: #404040;
        margin-top: 7px;
        margin-left: 7px;
        margin-right: 7px;
    }

    .voices_name_tytle_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 7px;
        margin-left: 5px;
        margin-right: 5px;
    }
    @media (max-width: 650px) {
        .voices_name_tytle_container {
            margin-top: 1.0vw;
            margin-left: 1.0vw;
            margin-right: 1.0vw;
        }
    }
        .voices_name_tytle {
            font-size: 17px;
            color: #404040;
        }
        @media (max-width: 650px) {
            .voices_name_tytle {
                font-size: 3.8vw;
            }
        }

        .voices_name_error_message {
            font-size: 14px;
            color: red;
            margin-left: auto;
            margin-right: 0;
        }
        @media (max-width: 650px) {
            .voices_name_error_message {
                font-size: 3.1vw;
            }
        }

    .voices_name_placeholder_container {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        background: #ffffff;
        border-radius: 8px;
        box-shadow: -5px -5px 8px #ffffff7a, 5px 5px 8px #a9a9aa7a;
        margin-top: 4px;
        padding: 5px 15px 5px 15px;
    }
    @media (max-width: 650px) {
        .voices_name_placeholder_container {
            border-radius: 1.8vw;
            margin-top: 1.0vw;
            padding: 1.1vw 3.3vw 1.1vw 3.3vw;
        }
    }
        .voices_name_placeholder_container span {
            font-size: 20px;
            color: #505050;
            margin-right: 22px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        @media (max-width: 650px) {
            .voices_name_placeholder_container span {
                font-size: 4.5vw;
                margin-right: 4.5vw;
                margin-top: 1.0vw;
                margin-bottom: 1.0vw;
            }
        }

        .voices_name_placeholder {
            font-size: 17.0px;
            color: #404040;
            width: 460px;
        }
        @media (max-width: 650px) {
            .voices_name_placeholder {
                font-size: 3.8vw;
                width: 65vw;
            }
        }

    .voices_id_tytle_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 7px;
        margin-left: 5px;
        margin-right: 5px;
    }
    @media (max-width: 650px) {
        .voices_id_tytle_container {
            margin-top: 1.0vw;
            margin-left: 1.0vw;
            margin-right: 1.0vw;
        }
    }
        .voices_id_tytle {
            font-size: 17px;
            color: #404040;
        }
        @media (max-width: 650px) {
            .voices_id_tytle {
                font-size: 3.8vw;
            }
        }

        .voices_id_error_message {
            font-size: 14px;
            color: red;
            margin-left: auto;
            margin-right: 0;
        }
        @media (max-width: 650px) {
            .voices_id_error_message {
                font-size: 3.1vw;
            }
        }

    .voices_id_placeholder_container {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        background: #ffffff;
        border-radius: 8px;
        box-shadow: -5px -5px 8px #ffffff7a, 5px 5px 8px #a9a9aa7a;
        margin-top: 4px;
        padding: 5px 15px 5px 15px;
    }
    @media (max-width: 650px) {
        .voices_id_placeholder_container {
            border-radius: 1.8vw;
            margin-top: 1.0vw;
            padding: 1.1vw 3.3vw 1.1vw 3.3vw;
        }
    }
        .voices_id_placeholder_container span {
            font-size: 20px;
            color: #505050;
            margin-right: 22px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        @media (max-width: 650px) {
            .voices_id_placeholder_container span {
                font-size: 4.5vw;
                margin-right: 4.5vw;
                margin-top: 1.0vw;
                margin-bottom: 1.0vw;
            }
        }

        .voices_id_placeholder {
            font-size: 17.0px;
            color: #404040;
            width: 460px;
        }
        @media (max-width: 650px) {
            .voices_id_placeholder {
                font-size: 3.8vw;
                width: 65vw;
            }
        }

    .continue_btn_true {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 52px;
        font-size: 22px;
        border-radius: 6px;
        cursor: pointer;
        background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
        box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
        color: #fff;
        transition: box-shadow 0.15s ease, transform 0.15s ease;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    @media (max-width: 650px) {
        .continue_btn_true {
            width: 65vw;
            margin-top: 2.0vw;
            font-size: 4.0vw;
        }
    }
        .continue_btn_true:hover {
            box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
            transform: translateY(-0.1em);
        }

        .continue_btn_true:active {
            box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
            transform: translateY(0em);
        }

    .dummy_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 52px;
        border-radius: 6px;
        background: #bababa;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
        .loader {
            width: 25px;
            height: 25px;
            border: 3px solid #909090;
            border-left-color: transparent;
            border-radius: 50%;
            margin: auto;
            animation: spin89345 1s linear infinite;
        }
        @keyframes spin89345 {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }




