.voices_profile_info_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
    .background_image {
        width: 100%;
        height: 180px;
        background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
    }
    @media (max-width: 650px) {
        .background_image {
            height: 27vw;
        }
    }

    .background_image_line {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        width: 100%;
        height: 2.0px;
        background: #404040;
    }
    @media (max-width: 1000px) {
        .account_info_line {
            height: 0.8vw;
        }
    }
    @media (max-width: 650px) {
        .account_info_line {
            height: 0.8vw;
        }
    }
        .icon_flame {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 110px;
            height: 110px;
            transform: rotate(45deg); 
            background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
            margin-left: 100px;
            z-index: 2;
        }
        @media (max-width: 1000px) {
            .icon_flame {
                width: 11.0vw;
                height: 11.0vw;
                margin-left: 10vw;
            }
        }
        @media (max-width: 650px) {
            .icon_flame {
                width: 19.8vw;
                height: 19.8vw;
                margin-left: 9vw;
            }
        }

        .icon_image {
            width: 102px;
            height: 102px;
            background-image: radial-gradient( circle farthest-corner at 7.4% 45.1%, rgba(236,206,251,1) 0%, rgba(205,237,246,1) 45.1%, rgba(227,251,252,1) 78.4%, rgba(230,247,235,1) 90% );
        }
        @media (max-width: 1000px) {
            .icon_image {
                width: 10vw;
                height: 10vw;
            }
        }
        @media (max-width: 650px) {
            .icon_image {
                width: 18vw;
                height: 18vw;
            }
        }

        .icon_flame_shadow {
            position: relative;
            width: 110px;
            height: 110px;
            background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
            transform: rotate(45deg) translate(-60%, 60%);
        }
        @media (max-width: 1000px) {
            .icon_flame_shadow {
                width: 11vw;
                height: 11vw;
            }
        }
        @media (max-width: 650px) {
            .icon_flame_shadow {
                width: 19.8vw;
                height: 19.8vw;
            }
        }
            .icon_flame_shadow::after {
                content: '';
                position: absolute;
                top: 3.5px;
                left: 3.5px;
                right: 3.5px;
                bottom: 3.5px;
                background-color: #ffffff;
            }
            @media (max-width: 1000px) {
                .icon_flame_shadow::after {
                    top: 0.5vw;
                    left: 0.5vw;
                    left: 0.5vw;
                    bottom: 0.5vw;
                }
            }
            @media (max-width: 650px) {
                .icon_flame_shadow::after {
                    top: 0.9vw;
                    left: 0.9vw;
                    left: 0.9vw;
                    bottom: 0.9vw;
                }
            }

        .btn_container {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: absolute;
            right: 40px;
            left: auto;
            top: 15px;
            gap: 10px;
        }
        @media (max-width: 1000px) {
            .btn_container {
                right: 3.0vw;
                left: auto;
                top: 1.5vw;
                gap: 1.2vw;
            }
        }
        @media (max-width: 650px) {
            .btn_container {
                flex-direction: row-reverse;
                right: auto;
                left: 4.0vw;
                top: 66vw;
                gap: 2.4vw;
            }
        }
            .trace_btn {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 100px;
                color: #040404;
                border-radius: 10px;
                font-size: 20px;
                background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(91,173,254,0.46) 0%, rgba(91,224,254,0.46) 47.2%, rgba(170,254,235,0.43) 90% );
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            }
            @media (max-width: 1000px) {
                .trace_btn {
                    height: 4.0vw;
                    width: 10vw;
                    border-radius: 1.2vw;
                    font-size: 2.1vw;
                    box-shadow: 0 1.2vw 1.2vw rgba(0, 0, 0, 0.1);
                }
            }
            @media (max-width: 650px) {
                .trace_btn {
                    height: 9.0vw;
                    width: 24.0vw;
                    border-radius: 2.5vw;
                    font-size: 4.5vw;
                    box-shadow: 0 2.0vw 2.0vw rgba(0, 0, 0, 0.1);
                }
            }

            .edit_btn {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 80px;
                color: #040404;
                border-radius: 10px;
                font-size: 20px;
                background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(91,173,254,0.46) 0%, rgba(91,224,254,0.46) 47.2%, rgba(170,254,235,0.43) 90% );
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            }
            @media (max-width: 1000px) {
                .edit_btn {
                    height: 4.0vw;
                    width: 8.0vw;
                    border-radius: 1.2vw;
                    font-size: 2.1vw;
                    box-shadow: 0 1.2vw 1.2vw rgba(0, 0, 0, 0.1);
                }
            }
            @media (max-width: 650px) {
                .edit_btn {
                    height: 9.0vw;
                    width: 20.0vw;
                    border-radius: 2.5vw;
                    font-size: 4.5vw;
                    box-shadow: 0 2.0vw 2.0vw rgba(0, 0, 0, 0.1);
                }
            }

            .menu_btn {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 36px;
                width: 36px;
                font-size: 21px;
                color: #040404;
                border-radius: 50%;
                background: #f4f4f4;
                border: 1px solid #e8e8e8;
                box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
            }
            @media (max-width: 1000px) {
                .menu_btn {
                    height: 4.0vw;
                    width: 4.0vw;
                    font-size: 2.1vw;
                    box-shadow: 0.8vw 0.8vw 1.6vw #c5c5c5, -0.8vw -0.8vw 1.6vw #ffffff;
                }
            }
            @media (max-width: 650px) {
                .menu_btn {
                    height: 8.0vw;
                    width: 8.0vw;
                    font-size: 4.8vw;
                    box-shadow: 1.2vw 1.2vw 2.4vw #c5c5c5, -1.2vw -1.2vw 2.4vw #ffffff;
                }
            }

        .birthday_container {
            position: absolute;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            font-size: 16px;
            color: #686a68;
            right: 60px;
            left: auto;
            top: 90px;
        }
        @media (max-width: 1000px) {
            .birthday_container {
                gap: 20px;
                font-size: 16px;
                color: #686a68;
                right: 6.0vw;
                left: auto;
                top: 9.0vw;
            }
        }
        @media (max-width: 650px) {
            .birthday_container {
                gap: 2.0vw;
                font-size: 3.7vw;
                right: 6.0vw;
                left: auto;
                top: 68vw;
                gap: 2.0vw;
            }
        }


    .account_info_name {
        display: flex;
        flex-direction: column;
        margin-left: 260px;
    }
    @media (max-width: 1000px) {
        .account_info_name {
            margin-left: 26vw;
        }
    }
    @media (max-width: 650px) {
        .account_info_name {
            margin-left: 38vw;
        }
    }
        .name {
            font-size: 34px;
            color: black;
        }
        @media (max-width: 1000px) {
            .name {
                font-size: 3.5vw;
            }
        }
        @media (max-width: 650px) {
            .name {
                font-size: 5.6vw;
            }
        }
        .id {
            font-size: 16px;
            color: #686a68;
            transform: translateY(-20%);
            margin-left: 12px;
        }
        @media (max-width: 1000px) {
            .id {
                font-size: 1.6vw;
                margin-left: 1.4vw;
            }
        }
        @media (max-width: 650px) {
            .id {
                font-size: 3.2vw;
                margin-left: 2.4vw;
            }
        }

    .number_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 45px;
        margin-top: 10px;
        gap: 50px;
    }
    @media (max-width: 1000px) {
        .number_container {
            margin-left: 4.2vw;
            margin-top: 1.0vw;
            gap: 5.0vw;
        }
    }
    @media (max-width: 650px) {
        .number_container {
            margin-left: 6.0vw;
            margin-top: 1.5vw;
            gap: 6.0vw;
        }
    }
        .tracers_number_wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            font-size: 18px;
            color: #686a68;
        }
        @media (max-width: 1000px) {
            .tracers_number_wrapper {
                gap: 0.3vw;
                font-size: 1.8vw;
            }
        }
        @media (max-width: 650px) {
            .tracers_number_wrapper {
                gap: 1.2vw;
                font-size: 4.2vw;
            }
        }

        .tracing_number_wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            font-size: 18px;
            color: #686a68;
        }
        @media (max-width: 1000px) {
            .tracing_number_wrapper {
                gap: 0.3vw;
                font-size: 1.8vw;
            }
        }
        @media (max-width: 650px) {
            .tracing_number_wrapper {
                gap: 1.2vw;
                font-size: 4.2vw;
            }
        }

    .account_info_text {
        font-size: 16px;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
        margin-bottom: 16px;
    }
    @media (max-width: 1000px) {
        .account_info_text {
            font-size: 1.6vw;
            margin-left: 5.0vw;
            margin-right: 5.0vw;
            margin-top: 2.0vw;
            margin-bottom: 1.6vw;
        }
    }
    @media (max-width: 650px) {
        .account_info_text {
            font-size: 4.2vw;
            margin-left: 6.0vw;
            margin-right: 6.0vw;
            margin-top: 3.0vw;
            margin-bottom: 16.0vw;
        }
    }

    .account_info_line {
        width: 99%;
        height: 1.0px;
        background: #404040;
        margin-left: auto;
        margin-right: auto;
    }
    @media (max-width: 1000px) {
        .account_info_line {
            height: 0.2vw;
        }
    }
    @media (max-width: 650px) {
        .account_info_line {
            height: 0.2vw;
        }
    }


    .form_overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5); 
        z-index: 11;
    }