.voices_trend_card_wrapper {
    position: relative;
    width: 100%;
    height: 225px;
    margin-bottom: 15px;
    z-index: 2;
}
    .trend_card_flame1 {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
        clip-path: polygon(15% 0%, 85% 0%, 100% 25%, 100% 75%, 85% 100%, 15% 100%, 0% 75%, 0% 25%);
    }
        .trend_card_flame1_concealing {
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            background: #ffffff;
            clip-path: polygon(15% 0%, 85% 0%, 100% 25%, 100% 75%, 85% 100%, 15% 100%, 0% 75%, 0% 25%);
        }

    .trend_card_flame2 {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 10px;
        bottom: 10px;
        left: 10px;
        right: 10px;
        border: 2px solid #606060;
        box-shadow: 3px 3px 10px #dadada;
    }
        .trend_card_inner {
            position: relative;
            width: calc(100% - 12px);
            height: calc(100% - 12px);
            border: 1px solid #606060;
            overflow: hidden;
        }
            .trend_card_head {
                position: absolute;
                top: 5%;
                left: 30px;
                right: 30px;
                display: flex;
                flex-direction: row;
                align-items: center;
            }
                .trend_card_head span {
                    font-size: 24px;
                    color: #696969;
                    letter-spacing: 3px;
                    margin-right: auto;
                }

                .trend_card_head h1 {
                    font-size: 16px;
                    color: #454545;
                    letter-spacing: 1px;
                    margin-right: 5px;
                }

                .trend_toggle_switch {
                    position: relative;
                    width: 38px;
                    height: 19px;
                    margin-right: 0;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    margin-right: 5px;
                }
                    .trend_toggle_switch label {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 38px;
                        height: 19px;
                        border-radius: 36px;
                        background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
                        cursor: pointer;
                        transition: all 0.3s ease;
                    }

                        .trend_toggle_switch label:after {
                            content: '';
                            position: absolute;
                            top: 0.5px;
                            left: 0.5px;
                            width: 17px;
                            height: 17px;
                            border-radius: 50%;
                            background-color: #fff;
                            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
                            transition: all 0.3s ease;
                        }

                        .trend_toggle_switch input[type="checkbox"]:checked + label:after {
                            transform: translateX(20px);
                        }

                    .trend_toggle_switch label:hover {
                        background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
                    }

                        .trend_toggle_switch label:hover:after {
                            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
                        }

                    .trend_toggle_switch input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 38px;
                        height: 19px;
                    }      
                        
                .trend_card_head h2 {
                    font-size: 18px;
                    color: #656565;
                }


            .box {
                position: absolute;
                left: 7.0%;
                right: 7.0%;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                transition: transform 1s ease-out, opacity 1s ease-out;
                opacity: 0;
            }

            .box1 {
                top: 25%;
            }
            .box2 {
                top: 47%;
            }
            .box3 {
                top: 69%;
            }

            .box4 {
                top: 25%;
            }
            .box5 {
                top: 47%;
            }
            .box6 {
                top: 69%;
            }

            .box7 {
                top: 25%;
            }
            .box8 {
                top: 47%;
            }
            .box9 {
                top: 69%;
            }

            /* 各フェーズでアクティブになる要素 */
            .active {
                opacity: 1;
                transform: translateY(0);
            }

            /* スライドして消えるアニメーション */
            .box:not(.active) {
                transform: translateX(150px);
                opacity: 0;
            }

            @keyframes pulse {
                0% {
                transform: scale(1);
                opacity: 1;
                }
                100% {
                transform: scale(2);
                opacity: 0;
                }
            }

                .box p {
                    font-size: 24px;
                    color: #696969;
                    font-weight: 300;
                }

                .box span {
                    font-size: 17px;
                    color: #404040;
                    transform: translateY(10%);
                }

            .trend_card_between_bar1 {
                position: absolute;
                top: 43%;
                left: 20px;
                right: 20px;
                height: 0.5px;
                background-color: #787878;
            }

            .trend_card_between_bar2 {
                position: absolute;
                top: 65%;
                left: 20px;
                right: 20px;
                height: 0.5px;
                background-color: #787878;
            }

            .trend_card_between_bar3 {
                position: absolute;
                top: 87%;
                left: 20px;
                right: 20px;
                height: 0.5px;
                background-color: #787878;
            }